# Connection String for .NET Application
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=fcg_plataforma_jogos;Username=fcgadmin;Password=sua_senha_aqui

# JWT Configuration
JwtSettings__Secret=XXX
JwtSettings__Issuer=FCG.API
JwtSettings__Audience=FCG.Client
JwtSettings__ExpiracaoAccessTokenMinutos=30
JwtSettings__ExpiracaoRefreshTokenDias=7
JwtSettings__HabilitarSegurancaDeReusoRefreshToken=false