# PostgreSQL Configuration
POSTGRES_USER=fcgadmin
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=fcg_plataforma_jogos

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@fcg.com
PGADMIN_DEFAULT_PASSWORD=sua_senha_admin