# PostgreSQL Configuration
POSTGRES_USER=fcgadmin
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=fcg_plataforma_jogos

# Connection String for .NET Application
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=fcg_plataforma_jogos;Username=fcgadmin;Password=sua_senha_aqui

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@fcg.com
PGADMIN_DEFAULT_PASSWORD=sua_senha_admin